// Shu yerda variables styles keladi

// button
$button-backcolor: #fcb72b;
$button-color: #fff;
$button_activ-backcolor: #fff;
$button_activ-color: #fcb72b;

// Header
$header--open-sitenav-backcolor: #333A44;
$header--open-sitenav__link-color: #fff;
$sitenav__link-color: #939caa;
$sitenav__link_hover-color: #000;
$sitenav__link_activ-color: #FCB72B;

// Main
// hero
$hero__heading-color: #fff;
$hero__desc-color: #fff;

// order
$order__heading-color: #495567;
$order__desc-color: #939CAA;

// main-bottom
$main-bottom__heading-color: #495567;
$main-bottom__desc-color: #939caa;

// footer
$footer-top__backcolor: #495567;
$footer-top__heading-color: #fff;
$footer-top__item-backcolor: #e5ecf4;
$footer-top__item-color: #495567;
$footer-bottom__backcolor: #333a44;
$footer-bottom__item-color: #939CAA;